@media screen and (min-width:  768px)  {
    /* Styles for medium-sized screens (e.g., tablets) */
    /* Add your styles here */
    body,html{
        display: block;
        margin: 0;
        padding: 0;
        
        font-family: 'Belanosima', sans-serif;
        font-family: 'Inter', sans-serif;
        scroll-behavior: smooth;
    }
    .hero{
        display: block;
        max-width: 100%;
        margin: 0;
        padding: 0;
    }
        .hero-content
        {
            width:100%;
            float: none;
            font-size: 14px;
        }
        .hero-content-image {
            width:100%;
            float: none;
            font-size: 14px;
        }
  }
  